<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdz.hbwj.mapper.goods.SkuMapper">
 
 <!-- skuBean -->
 <resultMap id="skuBean" type="com.zdz.hbwj.pojo.goods.TSku">
    <id column="sku_id" jdbcType="VARCHAR" property="skuId" />
    <result column="spu_id" jdbcType="VARCHAR" property="spuId" />
    <result column="sku_num" jdbcType="INTEGER" property="skuNum" />
    <result column="sku_amount" jdbcType="INTEGER" property="skuAmount" />
    <result column="upTime" jdbcType="TIMESTAMP" property="uptime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="property1" jdbcType="VARCHAR" property="property1" />
    <result column="property2" jdbcType="VARCHAR" property="property2" />
    <result column="property3" jdbcType="VARCHAR" property="property3" />
    <result column="reserved1" jdbcType="VARCHAR" property="reserved1" />
    <result column="reserved2" jdbcType="VARCHAR" property="reserved2" />
    <result column="reserved3" jdbcType="VARCHAR" property="reserved3" />
  </resultMap>
  
  
  <!-- 插入sku -->
 <insert id="insertSku" parameterType="com.zdz.hbwj.pojo.goods.TSku" >
    insert into t_sku (sku_id, spu_id, sku_num, 
      sku_amount, upTime, updateTime, 
      status, property1, property2, 
      property3, reserved1, reserved2, 
      reserved3)
    values (#{skuId,jdbcType=VARCHAR}, #{spuId,jdbcType=VARCHAR}, #{skuNum,jdbcType=INTEGER}, 
      #{skuAmount,jdbcType=INTEGER}, #{uptime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{property1,jdbcType=VARCHAR}, #{property2,jdbcType=VARCHAR}, 
      #{property3,jdbcType=VARCHAR}, #{reserved1,jdbcType=VARCHAR}, #{reserved2,jdbcType=VARCHAR}, 
      #{reserved3,jdbcType=VARCHAR})
  </insert>
  
  <!-- 查询sku信息 -->
  <select id="findTSkuList" 
     resultMap="skuBean" parameterType="java.util.HashMap">
  		select * from t_sku t
  		<where>
		      <if test="spu_id != null and spu_id != ''">
		          t.spu_id =#{spu_id}
		      </if>
            </where> 
  </select>
  
  <!-- 跟新sku -->
  <update id="updateSkuById" parameterType="com.zdz.hbwj.pojo.goods.TSku">
    update t_sku
    <set>     
      <if test="skuNum != null">
        sku_num = #{skuNum,jdbcType=INTEGER},
      </if>
      <if test="skuAmount != null">
        sku_amount = #{skuAmount,jdbcType=INTEGER},
      </if>
      <if test="uptime != null">
        upTime = #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="property1 != null">
        property1 = #{property1,jdbcType=VARCHAR},
      </if>
      <if test="property2 != null">
        property2 = #{property2,jdbcType=VARCHAR},
      </if>
      <if test="property3 != null">
        property3 = #{property3,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null">
        reserved1 = #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        reserved2 = #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null">
        reserved3 = #{reserved3,jdbcType=VARCHAR},
      </if>
    </set>
        where spu_id = #{spuId,jdbcType=VARCHAR}
  </update>
  
  <!-- 删除sku -->
  <delete id="deleteSku" parameterType="java.util.HashMap">
  	delete  from t_sku where spu_id = #{spuId,jdbcType=VARCHAR}
  </delete>
  
  <!-- 更sku的库存信息 -->
  <update id="updateProductNum"  parameterType="java.util.HashMap" >
  		update  t_sku  
  			<set>
  			   <if test="skuNum != null">
                sku_num = #{skuNum,jdbcType=INTEGER},
              </if>
  			</set>
  		   <where>
  		   		<if test="skuId != null and skuId!='' ">
                   sku_id = #{skuId,jdbcType=VARCHAR}
               </if>
  		   		<if test="spuId != null and spuId!='' ">
                  and spu_id = #{spuId,jdbcType=VARCHAR}
               </if>
  		   
  		   </where> 
  </update>
  
  
</mapper>