<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdz.hbwj.mapper.goods.SkuMapper">
 
 <!-- skuBean -->
 <resultMap id="skuBean" type="com.zdz.hbwj.pojo.goods.TSku">
    <id column="sku_id" jdbcType="VARCHAR" property="skuId" />
    <result column="spu_id" jdbcType="VARCHAR" property="spuId" />
    <result column="sku_num" jdbcType="INTEGER" property="skuNum" />
    <result column="sku_amount" jdbcType="INTEGER" property="skuAmount" />
    <result column="upTime" jdbcType="TIMESTAMP" property="uptime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="property1" jdbcType="VARCHAR" property="property1" />
    <result column="property2" jdbcType="VARCHAR" property="property2" />
    <result column="property3" jdbcType="VARCHAR" property="property3" />
    <result column="reserved1" jdbcType="VARCHAR" property="reserved1" />
    <result column="reserved2" jdbcType="VARCHAR" property="reserved2" />
    <result column="reserved3" jdbcType="VARCHAR" property="reserved3" />
  </resultMap>
  
  
  <!-- 插入sku -->
 <insert id="insertSku" parameterType="com.zdz.hbwj.pojo.goods.TSku" >
    insert into t_sku (sku_id, spu_id, sku_num, 
      sku_amount, upTime, updateTime, 
      status, property1, property2, 
      property3, reserved1, reserved2, 
      reserved3)
    values (#{skuId,jdbcType=VARCHAR}, #{spuId,jdbcType=VARCHAR}, #{skuNum,jdbcType=INTEGER}, 
      #{skuAmount,jdbcType=INTEGER}, #{uptime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{property1,jdbcType=VARCHAR}, #{property2,jdbcType=VARCHAR}, 
      #{property3,jdbcType=VARCHAR}, #{reserved1,jdbcType=VARCHAR}, #{reserved2,jdbcType=VARCHAR}, 
      #{reserved3,jdbcType=VARCHAR})
  </insert>
  
  <!-- 查询sku信息 -->
  <select id="findTSkuList" 
     resultMap="skuBean" parameterType="java.util.HashMap">
  		select * from t_sku t
  		<where>
		      <if test="spu_id != null and spu_id != ''">
		          t.spu_id =#{spu_id}
		      </if>
            </where> 
  </select>
</mapper>