<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdz.hbwj.mapper.goods.SpuMapper">
  
  <!-- 定义TspuBean -->
  <resultMap id="TSpuBean" type="com.zdz.hbwj.pojo.goods.TSpu">
    <id column="spu_id" jdbcType="VARCHAR" property="spuId" />
    <result column="branch" jdbcType="VARCHAR" property="branch" />
    <result column="spu_name" jdbcType="VARCHAR" property="spuName" />
    <result column="cat_id" jdbcType="INTEGER" property="catId" />
    <result column="sell_amount" jdbcType="INTEGER" property="sellAmount" />
    <result column="sell_point" jdbcType="VARCHAR" property="sellPoint" />
    <result column="product_num" jdbcType="VARCHAR" property="productNum" />
    <result column="oriPrice" jdbcType="BIGINT" property="oriprice" />
    <result column="nowPrice" jdbcType="BIGINT" property="nowprice" />
    <result column="product_images" jdbcType="VARCHAR" property="productImages" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="reserved1" jdbcType="VARCHAR" property="reserved1" />
    <result column="reserved2" jdbcType="VARCHAR" property="reserved2" />
  </resultMap>
  
  <!-- 查询SpuInfo -->
  <resultMap id="SpuInfoBean" type="com.zdz.hbwj.pojo.goods.TSpuInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="spu_id" jdbcType="VARCHAR" property="spuId" />
    <result column="product_info" jdbcType="VARCHAR" property="productInfo" />
    <result column="product_param" jdbcType="VARCHAR" property="productParam" />
    <result column="seller_name" jdbcType="VARCHAR" property="sellerName" />
    <result column="shop_id" jdbcType="VARCHAR" property="shopId" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="shoper_name" jdbcType="VARCHAR" property="shoperName" />
    <result column="updateTime" jdbcType="DATE" property="updatetime" />
    <result column="property1" jdbcType="VARCHAR" property="property1" />
    <result column="property2" jdbcType="VARCHAR" property="property2" />
    <result column="property3" jdbcType="VARCHAR" property="property3" />
    <result column="reserved1" jdbcType="VARCHAR" property="reserved1" />
    <result column="reserved2" jdbcType="VARCHAR" property="reserved2" />
    <result column="reserved3" jdbcType="VARCHAR" property="reserved3" />
  </resultMap>
  
  
  <!-- 查询商品的属性的模板 -->
  <select id="findProperties" parameterType="java.lang.Integer" 
          resultType="java.lang.String">
  		select t.sell_properties from t_properties t where cat_id=#{proId} 
  </select>
  
  <!-- 插入TSpu -->
  <insert id="insertSpu" parameterType="com.zdz.hbwj.pojo.goods.TSpu" >
    insert into t_spu (spu_id, branch, spu_name, 
      cat_id, sell_amount, sell_point, 
      product_num, oriPrice, nowPrice, 
      product_images, sort, status, 
      createTime, updateTime, reserved1, 
      reserved2)
    values (#{spuId,jdbcType=VARCHAR}, #{branch,jdbcType=VARCHAR}, #{spuName,jdbcType=VARCHAR}, 
      #{catId,jdbcType=INTEGER}, #{sellAmount,jdbcType=INTEGER}, #{sellPoint,jdbcType=VARCHAR}, 
      #{productNum,jdbcType=VARCHAR}, #{oriprice,jdbcType=BIGINT}, #{nowprice,jdbcType=BIGINT}, 
      #{productImages,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{reserved1,jdbcType=VARCHAR}, 
      #{reserved2,jdbcType=VARCHAR})
  </insert>
  
  <!-- 插入TSpuInfo -->
  <insert id="insertSpuInfo" 
       parameterType="com.zdz.hbwj.pojo.goods.TSpuInfo" 
       useGeneratedKeys="true" keyProperty="user_id">
    insert into t_spu_info (id, spu_id, product_info, 
      product_param, seller_name, shop_id, 
      createTime, shoper_name, updateTime, 
      property1, property2, property3, 
      reserved1, reserved2, reserved3
      )
    values (#{id,jdbcType=INTEGER}, #{spuId,jdbcType=VARCHAR}, #{productInfo,jdbcType=VARCHAR}, 
      #{productParam,jdbcType=VARCHAR}, #{sellerName,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{shoperName,jdbcType=VARCHAR}, #{updatetime,jdbcType=DATE}, 
      #{property1,jdbcType=VARCHAR}, #{property2,jdbcType=VARCHAR}, #{property3,jdbcType=VARCHAR}, 
      #{reserved1,jdbcType=VARCHAR}, #{reserved2,jdbcType=VARCHAR}, #{reserved3,jdbcType=VARCHAR}
      )
  </insert>
  
  <!-- 模糊查询所有的商家的spu -->
  <select id="findTSpuList" resultMap="TSpuBean"
     parameterType="java.util.HashMap">
  		select * from t_spu t
   			 <where>
		        <if test="reserved1 != null and reserved1 != ''">
		          and  t.reserved1 =#{reserved1}
		        </if>
		        <if test="status != null">
		          and t.status =#{status}
		        </if>
		        <if test="product_num != null and product_num!='' ">
		          and  t.product_num LIKE CONCAT(CONCAT('%',#{product_num}),'%')
		        </if>
		        <if test="spu_name != null and spu_name!='' ">
		          and  t.spu_name LIKE CONCAT(CONCAT('%',#{spu_name}),'%')
		        </if>
            </where> limit #{start},#{end}
  
  </select>
  
  <!-- 查询总条数 -->
  <select id="findTSpuListCount" resultType="Integer" 
      parameterType="java.util.HashMap">
  		select count(*) from t_spu t
   			 <where>
		        <if test="reserved1 != null and reserved1 != ''">
		          and  t.reserved1 =#{reserved1}
		        </if>
		        <if test="status != null">
		          and   t.status =#{status}
		        </if>
		        <if test="product_num != null and product_num!='' ">
		          and  t.product_num LIKE CONCAT(CONCAT('%',#{product_num}),'%')
		        </if>
		        <if test="spu_name != null and spu_name!='' ">
		          and  t.spu_name LIKE CONCAT(CONCAT('%',#{spu_name}),'%')
		        </if>
            </where> 
  </select>
  
  <!-- 查询单个的spu的信息 -->
  <select id="findTSpu" resultMap="TSpuBean"  
      parameterType="java.util.HashMap" >
      select *from t_spu t 
  				 <where>
		        <if test="spu_id != null and spu_id != ''">
		          t.spu_id =#{spu_id}
		        </if>
            </where> 
  </select>
  
  <!-- 查询单个spuInfo -->
  <select id="findTSpuInfo" resultMap="SpuInfoBean" 
      parameterType="java.util.HashMap" >
      select *from t_spu_info t 
  				 <where>
		        <if test="spu_id != null and spu_id != ''">
		          and  t.spu_id =#{spu_id}
		        </if>
            </where> 
  </select>
  
  
  <!-- 更新spu -->
  <update id="updateSpuById" parameterType="com.zdz.hbwj.pojo.goods.TSpu">
    update t_spu
    <set>
      <if test="branch != null">
        branch = #{branch,jdbcType=VARCHAR},
      </if>
      <if test="spuName != null">
        spu_name = #{spuName,jdbcType=VARCHAR},
      </if>
      <if test="catId != null">
        cat_id = #{catId,jdbcType=INTEGER},
      </if>
      <if test="sellAmount != null">
        sell_amount = #{sellAmount,jdbcType=INTEGER},
      </if>
      <if test="sellPoint != null">
        sell_point = #{sellPoint,jdbcType=VARCHAR},
      </if>
      <if test="productNum != null">
        product_num = #{productNum,jdbcType=VARCHAR},
      </if>
      <if test="oriprice != null">
        oriPrice = #{oriprice,jdbcType=BIGINT},
      </if>
      <if test="nowprice != null">
        nowPrice = #{nowprice,jdbcType=BIGINT},
      </if>
      <if test="productImages != null">
        product_images = #{productImages,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="reserved1 != null">
        reserved1 = #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        reserved2 = #{reserved2,jdbcType=VARCHAR},
      </if>
    </set>
    where spu_id = #{spuId,jdbcType=VARCHAR}
  </update>
  
  
  <!-- 更新spuInfo -->
  <update id="updateSpuInfoById" parameterType="com.zdz.hbwj.pojo.goods.TSpuInfo">
    update t_spu_info
    <set>
      <if test="productInfo != null">
        product_info = #{productInfo,jdbcType=VARCHAR},
      </if>
      <if test="productParam != null">
        product_param = #{productParam,jdbcType=VARCHAR},
      </if>
      <if test="sellerName != null">
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="shoperName != null">
        shoper_name = #{shoperName,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=DATE},
      </if>
      <if test="property1 != null">
        property1 = #{property1,jdbcType=VARCHAR},
      </if>
      <if test="property2 != null">
        property2 = #{property2,jdbcType=VARCHAR},
      </if>
      <if test="property3 != null">
        property3 = #{property3,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null">
        reserved1 = #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        reserved2 = #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null">
        reserved3 = #{reserved3,jdbcType=VARCHAR},
      </if>
    </set>
    where  spu_id= #{spuId,jdbcType=INTEGER}
  </update>
  
  <!-- 删除spu的信息 -->
  <delete id="deleteSpuById" parameterType="java.util.HashMap">
  		 delete from t_spu where spu_id = #{spuId,jdbcType=VARCHAR}
  </delete>
  
  <!-- 删除spuInfo -->
  <delete id="deleteSpuInfo" parameterType="java.util.HashMap">
  		 delete from t_spu_info where spu_id = #{spuId,jdbcType=VARCHAR}
  </delete>
  
  <!--通过map去更新spu信息 -->
  <update id="updateSpuByMap" parameterType="java.util.HashMap">
  		 update t_spu 
  		 <set>
  		 	<if test="status != null and status!='' ">
             status = #{status,jdbcType=INTEGER},
             </if>
             <if test="updatetime != null">
             updateTime = #{updatetime,jdbcType=TIMESTAMP},
             </if>
             <if test="reserved2 != null">
             reserved2 = #{reserved2,jdbcType=TIMESTAMP},
             </if>
  		 </set>
  		 where spu_id =#{spuId}
  </update>
  
</mapper>