body{
	margin: 0;
	padding: 0;
	background-image: url(./../images/bg.jpg);
	background-size:cover;
}
div.headerMsg{
	height: 70px;
	color:aliceblue;
	line-height: 70px;
	text-align: center;
	font-weight:bold;
	font-size: 28px;
}        
div.formDiv{
	margin: 30px auto;
	width: 800px;
	border: 1px dotted gray;
	border-radius: 5px;
	background: rgba(240,255,255,0.3)
}
p.formHead{
	margin: 0;
	padding: 0;
	color: white;
	font-size: 26px;
	text-align: center;
}

table.formTable{
	margin:0 auto;
}
td.leftTd{
	width: 180px;
	text-align: right;
	padding: 10px 0;
	padding-right:5px;
}
td.rightTd{
	position: relative;
	width: 500px;
	text-align: left;
	padding: 10px 0;
	padding-left: 5px;
}
span.must{
	color: red;
	font-size: 20px;
}
span.ziduan{
	font-size:20px;
	color: ghostwhite;
}
span.warming{
	display: none;
	color: #c10000;
	font-size: 15px;
}
span.warming1{
	position: absolute;
	top:75px;
	left:5px;
}
@-moz-document url-prefix(){
	span.warming1{
		top:108px;
	}                
}
input.textin{
	font-size: 16px;
	width: 240px;
	height:22px;
	border:1px solid lightblue;
}
input[type='button']{
	cursor:pointer;
}
div#dizhi1{
	display: inline-block;
}
textarea#dizhi2{
	width:360px;
	resize: none;
}
p.title{
	color: aliceblue;
	font-size: 20px;
	text-align: center;
	margin-bottom: 5px;
}
p.button{
	margin:10px;
	text-align: center;
}
input#submit{
	font-size: 18px;
}
p.imgUpNotes{
	margin:0;
	font-size: 14px;
	text-align: center;
}
a.imgLink{
	color: #232121;
}
span.imgLink2{
	color:#bf0606;
}
input.upButton{
	cursor: pointer;
	margin:5px auto;
	    font-size: 17px;
}
select{
	height: 25px;
    font-size: 16px;
}
div.imgDiv{
	display: none;
	margin:5px auto 10px auto;
	border: 3px solid #9cafc7;
	padding-top: 20px;
	padding-bottom: 20px;
}
ul.imgUl{
	list-style-type: none;
	margin:0;
	padding:0;
	display: inline;
}
li.imgLi{
	display: inline;
}
div#typeDiv{
	display: none;
	padding:20px;
}
p.treeBtn{
	text-align: center;
	margin-bottom: 0;
}
div.imgDiv{
	text-align: center;
	margin:auto;
	border: 3px solid #9cafc7;
	border-radius: 3px;
	background:rgba(228, 237, 239, 0.76);
	display: none;
	padding-top: 20px;
	padding-bottom: 20px;
}
div.imgWrap{
	position: relative;
	border: 5px solid #1d5673;
	display: inline-block;
	height: 280px;
	width: 360px;
	margin:5px;
}
img.img{
	cursor: pointer;
	height: 280px;
	width: 360px;
}
div.imgDel{
	width:15px;
	height:15px;
	/*z-index:10;*/
	background:url('../images/cancel.png');
	opacity: 0.6;
	position: absolute;
	top:3px;
	right: 5px;
	cursor: pointer;
	display: none;
}
div.imgDel:hover{
	opacity: 1;
}
p.bottom{
	margin:20px auto;
}

footer.Footer{
	width: 100%;
	height: 60px;
	text-align: center;
}
div.footerMsg{
	text-align: center;
	color: #999;
	font-size: 14px;
}
span#shopCate{
	font-size:18px;
	color:cornsilk;
}
p.notSupportP{
	font-size:16px;
	color:black;
        text-align:center;
        background-color:yellow;
        padding:5px 0;
        }
        
        a.notSupportA{
       color:red;     
        }