html,body,p{
	margin:0;
	background-color: rgba(243, 245, 245, 0.4);
}
div.main{
	/*margin:20px;*/
}
p.title{
	position: relative;
	text-align: center;
	margin:10px 0;
	font-size: 22px;
	font-weight: bold;
	font-color:gray;
}
p.title2{
	position: relative;
	text-align: center;
	margin:10px 0;
	font-size: 18px;
	font-color:gray;
}
p.max{
	font-size:16px;
	display: inline;
}
p.shenHe{
	font-size:16px;
}
ul.imgUl{
	list-style-type:none;
}
ul.imgUl li{
	display: inline-block;
}
div.wrapDiv{
	text-align: center;
	margin-bottom: 35px;
}
div.wrap{
	margin: 25px;
	font-size: 16px;
}
table.table{
	background:rgba(228, 237, 239, 0.76);
	margin:auto;
	border:3px solid #9cafc7;
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}
td.leftTd{
	font-size: 18px;
	padding-left: 70px;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

td.rightTd{
	font-size: 18px;
	padding-right: 70px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
}

textarea#address{
	background: initial;
	width: 360px;
	resize: none;
	font-size: 16px;
	border:1px solid #ccc;
}
textarea#failReason{
	font-size: 16px;
	width: 400px;
	resize: none;
}
div.imgDiv{
	margin:auto;
	border: 3px solid #9cafc7;
	border-radius: 3px;
	background:rgba(228, 237, 239, 0.76);
}
div.imgWrap{
	position: relative;
	border: 5px solid #1d5673;
	display: inline-block;
	height: 220px;
	width: 300px;
	margin:5px;
}
div.imgWrap img.img{
	cursor: pointer;
	height: 220px;
	width: 300px;
}

span.ziduan{
	color:#6b6767;
}
div#reasonDiv{
	display: none;
	position: relative;
}
span.warming{
	position: absolute;
	top:114px;
	left:2px;
	color: red;
	font-size: 16px;
	display: none;
}
@-moz-document url-prefix(){
	span.warming{
		top:141px;
	}
}
button{
	cursor: pointer;
}