body{
	margin: 0;
	padding: 0;
	background-image: url(./../images/bg.jpg);
	background-size:cover;
}
div.headerMsg{
	height: 70px;
	color:aliceblue;
	line-height: 70px;
	text-align: center;
	font-weight:bold;
	font-size: 28px;
}        
form.form{
	margin: 30px auto;
	width: 700px;
	border: 1px dotted gray;
	border-radius: 5px;
	background: rgba(240,255,255,0.3)
}
p{
	margin: 0;
	padding: 0;
	color: white;
	font-size: 24px;
	text-align: center;
}
div.item{
	margin: 25px auto 20px 100px;
}
div.button{
	text-align: center;
}
input[type="file"]{
	margin-top: 5px;
	width:70px;
}

/*ie8及以上*/
input#shenfenzheng{
	margin-left/**/:95px;
}
input#shenfenzheng{
	margin-left:80px;
}
/*苹果浏览器内核*/
@media screen and (-webkit-min-device-pixel-ratio:0) 
{ input#shenfenzheng{
	margin-left:80px;
} 
}
/*火狐浏览器内核*/
@-moz-document url-prefix(){
	input[type="file"]{
		width:60px;
	};
	input#shenfenzheng{
		margin-left:80px;
	}                
}
input[type="text"]{
	border:1px solid gray;
	height:24px;
	width:200px;
	border-radius: 4px;
}
div.container{
	padding-top: 10px;
	display:none;
}
div img{
	width:200px;
	height:150px;
}
span.must{
	font-size:16px;
	color:red;
}
span.ziduan{
	font-size:16px;
	color: ghostwhite;
}
span.item_left{
	display: inline-block;
}
span.item_right{
	display: inline-block;
	margin-left:55px;
}
span.notes{
	color:red;
	font-size: small;
}
span.sfzNotes{
	margin-left:80px;
}
span.warming{
	color: #CC0000;
	font-size: 12px;
}
div.dizhi1{
	display: inline-block;
}
textarea.dizhi2{
	width: 270px;
	margin-left: 85px;
	margin-top: 5px;
	resize: none;
}
div.footerBtn{
	text-align:center;
	margin-left: 0;
}
input.button{
	width: 110px;
	height: 30px;
	border:1px solid gray;
	border-radius: 3px;
	text-align: center;
	background-color: darkslategrey;
	color: white;
}
input.button:hover{
	background-color: #53868B;
}
input.button:active{
	background-color: darkslategrey;
}
footer.Footer{
	width: 100%;
	bottom:0;
	left:0;
	height: 60px;
	text-align: center;
}

div.footerMsg{
	text-align: center;
	color: #999;
	font-size: 14px;
}